[access]
	inheritFrom = All-Projects
[project]
	description = Provides a northbound REST API to ONAP clients to manage DMaaP resources. This includes DMaaP components such as MR and DR, as well as provisioning of topics and feeds. Southbound, it communicates with the respective component APIs.\n\nSetting to read-only as per IT-21923\nThis repo has been moved to dmaap/buscontroller
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-dmaap-dbcapi-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
